body {
    font-family: 'PT Serif', serif;
    background-color: lightgrey;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

.boxes {
    display: block;
    margin: 1rem;
    padding: 1rem;
    border: solid black;
    border-radius: 5px;
    width: 20%;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
    color: red;
}

#box1 {
    background-color: white;
}

#box2 {
    background-color: aqua;
}

#box3 {
    background-color: blueviolet;
}

#box4 {
    background-color: beige;
}

.image {
    width: 1rem;
    height: 1rem;
    background-color: brown;
    display: inline;
    position: absolute;
    left: 3rem;
}

h1 {
    color: green;
}

.favorite {
    color: orange;
}

.other {
    color: purple;
}

#show1 {
    color: blue;
}

#show2 {
    color: teal;
}

#show3 {
    color: yellow;
}

#show4 {
    color: brown;
}

#show5 {
    color: crimson;
}

ul {
    color: brown;
}

.friends {
    color: orange;
}

.travel {
    color: darkmagenta;
}

.food {
    color: green;
}

#list1 {
    color: black;
    border: 2px solid black;
}

#list2 {
    color: blue;
    border: 2px solid black;
}

#list3 {
    color: red;
    border: 2px solid black;
}